@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

body {
  margin: 0;
}

h1 {
  margin: 0;
  color: whitesmoke;
}

header {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Bonheur Royale", sans-serif;
  background: #dbe6f6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c5796d,
    #dbe6f6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #c5796d,
    #dbe6f6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  background-image: url("/img1.jpg");
  /* text-align: center; */
  padding: 2rem;
  color: whitesmoke;
  font-family: "Times New Roman", Times, serif;
}

label {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

input {
  height: 2rem;
  border-radius: 4px;
  border: 1px solid black;
}

.calc-btn {
  background-color: #9997ac;
  color: whitesmoke;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
}

.calc-btn:hover {
  transform: scale(1.1);
  transition: ease-in-out;
  transition-duration: 15ms;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem;
  border-radius: 15px;
  background-color: #dbe6f6;
  height: 10rem;
  width: 40vw;
}

.output-div {
  color: #c5796d;
  font-size: 2rem;
  text-align: center;
  width: 60vw;
}

ul {
  font-size: 1.2rem;
  padding-left: 0;
  text-align: center;
}

footer {
  /* padding-top: 3rem; */
  margin: 0;
  text-align: center;

  background: -webkit-linear-gradient(
    to right,
    #c5796d,
    #dbe6f6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c5796d, #dbe6f6);
}

.li {
  display: inline;
  list-style: none;
  margin: 1rem;
  font-size: 1.2rem;
}

.ul {
  text-align: center;
  padding-left: 0;
  padding: 1rem;
  margin-top: 0;
}

i {
  color: azure;
}

#legacyText {
  color: azure;
}
